<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Lote</title>
</head>

<body>
    <form method="post">
        <div>
            <label for="nome">Raça</label>
            <input type="text" name="raca" id="raca">
        </div>
        <div>
            <label for="email">Sexo</label>
            <input type="email" name="sexo" id="sexo">
        </div>
        <div>
            <label for="senha">Medicamentos</label>
            <input type="password" name="medicamentos" id="medicamentos">
        </div>
        <div>
            <label for="foto">Foto</label>
            <input type="file" name="foto" id="foto">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>

</html>