<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <form method="post">
        <div>
            <label for="num1">Número 1</label>
            <input type="number" name="num1" id="num1">
        </div>
        <div>
            <label for="num2">Número 2</label>
            <input type="number" name="num2" id="num2">
        </div>
        <div>
            <label for="operacao">Operação</label>
            <select name="operacao" id="operacao">
                <option value="somar">Somar</option>
                <option value="subtrair">subtrair</option>
                <option value="multiplicar">Multiplicar</option>
                <option value="dividir">Dividir</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Calcular">
        </div>
    </form>
</body>
</html>