<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Dashboard | Cattlebuy</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="fundo">

    <div class="container-admin" style="text-align: center; padding: 40px;">

        <h1>DASHBOARD DO ADMIN</h1>

        <div style="margin-top: 30px; display: flex; justify-content: center; gap: 20px;">
            <a href="/lstlote" class="btn">Lotes</a>
            <a href="/lstusuarios" class="btn">Usuários</a>
            <a href="/logout" class="btn">Sair</a>
        </div>

    </div>

</body>

</html>