<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
</head>

<body>
    <form method="post">
        <div>
            <label for="id">Id</label>
            <input type="text" name="id" id="id" readonly value="<%= Usuario._id %>">
        </div>
        <div>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" value="<%= Usuario.nome %>">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="<%= Usuario.email %>">
        </div>
        <div>
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" value="<%= Usuario.senha %>">
        </div>
        <div>
            <label for="foto">Foto</label>
            <input type="file" name="foto" id="foto">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>

</html>