<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página inicial | Cattlebuy </title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <h1>CATTLEBUY</h1>
    <nav class="menu">
      <ul>
        <li><a href="/lstusuarios" class="btn">Usuário</a></li>
        <li><a href="/lstlote" class="btn">Lote</a></li>
      </ul>
    </nav>
  </div>
</body>

</html>