<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entre ou faça registro | Cattlebuy </title>
  <link rel="stylesheet" href="style.css">
</head>

<body class="fundo">
  <div class="container-inicial">
    <h1>CATTLEBUY</h1>
    <h1>Seja bem-vindo(a)!</h1>
    <nav class="menu">
      <ul>
        <a href="/login" class="btn">Login</a>
        <a href="/registro" class="btn">Registro</a>
      </ul>
    </nav>
  </div>
</body>

</html>