<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Minha primeira página EJS</h1>
    <form method="post">
        <div>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="cor">Cor</label>
            <input type="color" name="cor" id="cor">
        </div>
        <div>
            <label for="turno">Turno Atual</label>
            <select name="turno" id="turno">
                <option value="manha">Manhã</option>
                <option value="tarde">Tarde</option>
                <option value="noite">Noite</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
</body>

</html>