<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:<%=cor%>;
        }        
    </style>
</head>
<body>
    <%if(turno=="manha"){%>
        <h1> Bom dia <%=nome%> !!</h1>
    <%}else if(turno=="tarde"){%>
        <h1> Boa tarde <%=nome%> !!</h1>
    <%}else if(turno=="noite"){%>
        <h1> Boa noite <%=nome%> !!</h1>
    <%}%>
</body>
</html>