<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro | Cattlebuy</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body class="fundo">
    <div class="container-registro">
        <h1>REGISTRO</h1>
        <form action="/registro" method="POST" enctype="multipart/form-data">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" required />
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required />
            </div>

            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required />
            </div>

            <div>
                <label for="foto">Foto:</label>
                <input type="file" name="foto" id="foto" />
            </div>

            <div>
                <label for="tipo">Tipo de Usuário:</label>
                <select name="tipo" id="tipo" required onchange="exibirCamposProdutor(this.value)">
                    <option value="" disabled selected>Selecione</option>
                    <option value="Comprador">Comprador</option>
                    <option value="Produtor">Produtor</option>
                </select>
            </div>

            <div id="camposProdutor" style="display: none;">
                <div>
                    <label for="cidade">Cidade:</label>
                    <input type="text" name="cidade" id="cidade" />
                </div>
                <div>
                    <label for="estado">Estado:</label>
                    <input type="text" name="estado" id="estado" />
                </div>
                <div>
                    <label for="numero">Número para Contato:</label>
                    <input type="text" name="numero" id="numero" />
                </div>
            </div>

            <div>
                <button type="submit">Registrar</button>
            </div>
            <p>Já tem conta? <a href="/login">Faça login</a></p>
            <a href="/" class="btn">Voltar</a>
        </form>
    </div>

    <script>
        function exibirCamposProdutor(tipo) {
            const divCampos = document.getElementById('camposProdutor');
            divCampos.style.display = tipo === 'Produtor' ? 'block' : 'none';
        }
    </script>
</body>

</html>