<%-include('../cabecalho.ejs')%>
  <h1>LISTAGEM DE USUÁRIOS</h1>
  <div class="search">
    <form method="post">
      <input type="text" name="pesquisa" placeholder="Digite a busca..."><button type="submit"><i class="fa fa-search"aria-hidden="true"></i>&nbsp;Pesquisar</button>
    </form>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Foto</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Januario</td>
        <td>januario@gmail.com</td>
        <td>januario123</td>
        <td>xxxxxxx</td>
        <td>
          <a href="/edtusuario" class="btn edit"><i class="fas fa-edit"></i>&nbsp;Editar</a>
          <button class="btn delete" onclick="confirmarExclusao()"><i class="fas fa-trash"></i>&nbsp; Excluir</button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Vanzer</td>
        <td>vanzer@gmail.com</td>
        <td>vanzer123</td>
        <td>xxxxxxx</td>
        <td>
          <a href="/edtusuario" class="btn edit"><i class="fas fa-edit"></i>&nbsp;Editar</a>
          <button class="btn delete" onclick="confirmarExclusao()"><i class="fas fa-trash"></i>&nbsp;Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="footer">
    <a href="/addusuario" class="btn add"><i class="fas fa-add"></i>&nbsp;Adicionar</a>
  </div>
  <%-include('../rodape.ejs')%>